/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
   padding-right: 50px;
}

.sidenav-trigger {
  color: #1C1C1C;
}

.sidenav {
    background-color: #FFA200;
}
.iconblock{
  padding: 0 50px;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #838282;
}

h2{
  font-size: 2.00rem;
  text-align: center;
}

.rounded{
  border-radius:200px;
  align-items:center;
}


.container1
{
  margin: auto;
  position:relative;
  width:900px;
  display:flex;
  justify-content:space-around;
} 
.container1 .card
{
  margin:10px;
  position:relative;
  width: 200px;
  background:linear-gradient(0deg,#ff7700,#f4ad12,#fbb447);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center
  overflow: hidden;
  transition: 0.5s;

}
.container1 .card:hover
{
  transform:translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.percent
{
  position:relative; 
  width:150px;
  height:150px;
  border-radius:50%;
  z-index:1000;
}
.percent .number
{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-radius:50%; 
}

.percent .number h2
{
  color:#1C1C1C;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
.card:hover .percent .number h2
{
  color: #1C1C1C;
  font-size: 50px;
}

svg
{
  position:relative;
  width: 150px;
  height: 150px;
  z-index:1000;
}
svg circle
{
  width: 100%;
  height: 100%;
  fill:none;
  stroke: #191919;
  stroke-width:10;
  stroke-linecap: round;
  transform: translate(5px,5px);

}
svg circle:nth-child(2)
{
  stroke-dasharray: 440;
  stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #045AA7;
}
.card:nth-child(2) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #FF8A07;
}
.card:nth-child(3) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 65) / 100);
  stroke: #7407FF;
}
.card:nth-child(4) svg circle:nth-child(2)
{
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: #0AA4A0;
}

body{
  background-image::line-gradient(135deg,#fdfcfb 0%,#e2d1c3 100%);
}
.titulo{
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.galeria img {
     box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
     border-radius: 15px;
}

.materialbox-caption {
     bottom: 30px;
     right: 0;
     width: 40%;
     height: auto;
     padding: 10px;
     margin: auto;
     background: #000;
     box-shadow: 5px 5px #fff;
     font-size: 20px;
     color: #fff;
     line-height: 28px;
}

.galeria .col {
     margin-bottom: 20px;
}

@media screen and (max-width: 600px){
     .materialbox-caption {
          width: 90%;
     }
}

@media screen and (max-width: 992px){
     .materialbox-caption {
          width: 70%;
     }
}
.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-weight: 500;
    text-transform: uppercase;
}

.teal {
    background-color: #B3B3B3 !important;
}
.light {
    font-weight: 400;
    font-size: 20px;
}



